{% extends "govuk_base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <iframe id="myIframe" src="{{ gradio_url }}" frameborder="0" style="width: 100%; display: block;">
        </iframe>
    </div>
</div>


{% endblock %}

{% block extra_footer %}
<script>
    function resizeIframe() {
        const iframe = document.getElementById("myIframe");
        if (iframe.contentWindow.document.body) {
            const newHeight = iframe.contentWindow.document.documentElement.scrollHeight + 10; // Add padding
            iframe.style.height = newHeight + "px";
        }
    }

    document.getElementById("myIframe").onload = function () {
        setTimeout(resizeIframe, 200); // Delay to ensure rendering
    };

</script>
{% endblock %}